.cardContainer > button{
  background: transparent;
  border: 0; 
}

.cardContainer > button > img{
  height: 20rem;
  width: 100%;
}

.cardContainer > h1{
  font-weight: bold;
  margin: 1rem 0;
}

.iconsCard{
  display: flex;
}

.iconsCard > button{
  background: transparent;
  border: none; 
  font-size: 0px;
  margin-right: 0.5rem;
}
