.container{
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  border: 2px solid var(--principal);
  width: 100%;
  max-width: 500px;
  height: 400px;
  padding: 4rem 3rem;
  text-align: center;
  position: relative;  
}

.content header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.content header h1{
  font-size: 3rem;
  font-weight: bold;
}

form.form button{
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background: var(--principal);
  color: var(--white);
  font-weight: bold;

  transition: background-color 0.2s;
}

form.form button:hover{
  background-color: black;
}

.inputGroup{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputGroup label{
  font-weight: bold;
  font-size: 1rem;

  margin-bottom: 0.25rem;
}

.inputGroup input{
  width: 100%;
  height: 3rem;
  margin-bottom: 0.25rem;
  text-align: start;
  font-size: 1rem;
  padding: 0.5rem;
}
